NEXT_PUBLIC_API_BASE_URL=https://api.greeneye.foundation
NEXT_PUBLIC_RAZORPAY_KEY_ID=
NEXT_PUBLIC_SITE_URL=https://api.greeneye.foundation
# NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
#NEXT_PUBLIC_SITE_URL=https://nextjs-greeneye-app-77z3.vercel.app
NEXT_PUBLIC_CAPTCHA_KEY=

# AQI Widget - Get your free token from https://aqicn.org/data-platform/token/
NEXT_PUBLIC_WAQI_TOKEN=3b22e01a2a659c67876c1cff69a1547bf8e41432

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

IG_USER_ID=
IG_ACCESS_TOKEN=
IG_MEDIA_LIMIT=12
